.form {
  margin: 0 0;
  padding: 10rem 6rem 8rem 6rem;
  text-align: center;
  position: relative;
}

.fieldset {
  border: 1px solid var(--black);
  padding: 2rem;
}

.textarea {
  border: 1px solid var(--black);
  padding: 20px 20px 20px 20px;
}

.form-submit-button {
  background: var(--secondary);
  color: var(--white);
  border: none;
  display: block;
  margin: 20px auto 2rem auto;
  padding: 1rem;
}
